body{
    background-color: coral;
    display: flex;
    align-items: center;
    flex-flow: column
}

#container{
    background-color: cornsilk;
    width: 520px;
    height: 520px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around
}
